@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* THE STANDARD THEME IS WHITE */
:root {
	--black: #000;
	--white: #FFF;
	--white05: #FFF8;
	--darkGray: #555;
	--gray: #888;
	--hoverGray: #E0E0E0;
	--hoverGray05: #DDD8;
	--lightGray: #EEE;
	--lightGray05: #EEE8;

	--gradeMod: rgb(134, 252, 80);
	--gradeAdmin: rgb(14, 126, 201);
	--gradeHeadAdmin: rgb(66, 148, 255);
	--gradeCreator: rgb(30, 34, 255);
	--gradeGigachad: rgb(255, 178, 78);
}

* {
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	color: var(--black);
}

body {
	background: var(--white);
}

code {
	font-family: monospace;
}

input, textarea {
	border: 1px solid var(--black);
	border-radius: 5px;
	background: var(--lightGray);
	color: var(--black);
}

.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.Navbar {
	height: 100vh;
	width: 250px;
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 40px 30px;
	position: sticky;
	top: 0;
}

.Navbar > img {
	width: 100%;
}

.Navbar > ul {
	height: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.Navbar a {
	font-size: 22px;
	color: var(--black);
	text-decoration: none;
	padding: 3px;
	border-radius: 5px;
	font-family: 'Londrina Solid', cursive;
}

.Navbar a:hover {
	color: var(--gray);
}

.Navbar--Logo {
	filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.Navbar--Bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.Navbar--Bottom > p {
	color: var(--gray);
	font-size: 12px;
	font-family: 'Londrina Solid', cursive;
}


/* NAVBAR MOBILE */

.NavbarMobile {
	height: 100vh;
	width: 250px;
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 15px 15px;
	position: fixed;
	top: 0;
	transition: left 500ms ease, box-shadow 500ms ease;
}

.NavbarMobile--Logo {
	width: 50%;
}

.NavbarMobile > ul {
	height: 100%;
	margin-top: 100px;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.NavbarMobile a {
	font-size: 22px;
	color: var(--black);
	text-decoration: none;
	padding: 3px;
	border-radius: 5px;
	font-family: 'Londrina Solid', cursive;
}

.NavbarMobile--Bottom {
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.NavbarMobile--Bottom > p {
	color: var(--gray);
	font-size: 12px;
	font-family: 'Londrina Solid', cursive;
}

.Wrapper {
	width: 100%;
	max-width: 750px; /* OPTIONAL */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
}

.UpperBar {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: sticky;
	top: 0;
	background: var(--white);
	gap: 30px;
	z-index: 1000;
}

.UpperBar--Search {
	display: flex;
	gap: 5px;
}

.UpperBar--Search > input {
	width: 300px;
	height: 25px;
	border: 1px solid var(--gray);
	border-radius: 6px;
	padding-inline: 10px;
}

.UpperBar--Search > button {
	border: 1px solid var(--gray);
	border-radius: 6px;
	padding-inline: 10px;
	cursor: pointer;
	background: var(--lightGray);
	transition: background 300ms ease;
}

.UpperBar--Search > button:hover {
	background: var(--hoverGray);
}

.UpperBar--Buttons {
	display: flex;
	gap: 5px;
}

.UpperBar--Buttons > button:hover {
	background: var(--hoverGray);
}

.Mainboard {
	height: 100%;
	width: 100%;
	max-width: 750px;
	background: var(--white);
	color: var(--black);
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	margin-top: 50px;
}

.Article {
	width: 95%;
	min-height: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px 15px;
	margin-bottom: 20px;
	background: var(--lightGray);
	border-radius: 15px;
	/* border-bottom: 1px dashed var(--lightGray); */
}

.Article--Link {
	color: var(--black);
	text-decoration: none;
	font-weight: bold;
}

.Article--Date {
	color: var(--gray);
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 15px;
	display: inline;
}

.Article--DateMobile {
	color: var(--gray);
	font-size: 12px;
	margin-bottom: 10px;
	display: none;
}

.Article--Content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--black);
	margin-top: 10px;
}

.Article--Content p {
	text-indent: 0px;
}

.Article--Content img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px #0001;
	align-self: center;
	margin-block: 5px;
}

.Article--Content a {
	color: var(--darkGray);
	text-decoration: none;
	font-style: italic;
}

.OptionsList--Button {
	height: 20px;
	position: absolute;
	align-self: flex-end;
	background: none;
	border: none;
	cursor: pointer;
	transition: opacity 300ms ease;
}

.Article--OptionsButton:hover {
	opacity: 0.7;
}

.OptionsList {
	min-width: 100px;
	position: absolute;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	transform: translateY(30px);
}

.OptionsList > button {
	width: 100%;
	height: 25px;
	background: var(--white);
	color: var(--black);
	box-shadow: 2px 2px 5px var(--gray);
	border: none;
	border-radius: 5px;
	padding-inline: 5px;
	cursor: pointer;
	margin-block: 1px;
}

.Article--ProfilePicture {
	object-fit: cover;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin-right: 10px;
}

.Article--TextArea {
	width: 90%;
	height: 100px;
}

.Article--Numbers {
	display: flex;
	gap: 10px;
}

.CreatePost--Textarea {
	width: 80%;
	min-height: 200px;
	resize: vertical;
}

.Authentication {
	margin-top: 100px;
	width: 100%;
	color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.Authentication--Topline {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 25px;
}

.Authentication--Topline > p {
	letter-spacing: 2px;
	font-size: 20px;
}

.Authentication--Topline > img {
	height: 24px;
}

.Authentication > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.Profile {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.Profile--Header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	padding-left: 50px;
	margin-block: 100px 20px;
	align-items: center;
	gap: 10px;
}

.Profile--Header > img {
	object-fit: cover;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.ProfilePicture--Input {
	display: flex;
	gap: 10px;
}

.Bio {
	color: var(--black);
	padding-inline: 50px 100px;
	width: 100%;
	margin-bottom: 10px;
}

.Bio a {
	color: var(--gray);
	text-decoration: none;
	font-style: italic;
}

.Bio--Change {
	margin-left: 50px;
	width: 80%;
	height: 100px;
	margin-bottom: 10px;
	align-self: flex-start;
}

.Profile--Posts {
	width: 100%;
	padding: 0 50px;
	margin-top: 20px;
}

.BadUrl {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
}

.Button1 {
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 5px;
	background: #EEE;
}

.Button1:hover {
	opacity: 0.7;
}

.MOD {
	color: white;
	background: rgb(255, 182, 98);
	font-size: 10px;
	padding-inline: 5px;
	border-radius: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.ADMIN {
    color: white;
    background: rgb(66, 211, 85);
    font-size: 10px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.HEADADMIN {
    color: white;
    background: linear-gradient(to right, rgb(161, 53, 165) ,rgb(101, 104, 255));
    font-size: 10px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.CREATOR {
    color: white;
    background: linear-gradient(to right, rgb(161, 53, 165) ,rgb(53, 34, 231));
    font-size: 10px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.GIGACHAD {
    color: white;
    background: linear-gradient(to right, rgb(167, 167, 167) ,rgb(97, 97, 97));
    font-size: 10px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.HeartIcon {
	margin-top: 15px;
	display: flex;
	gap: 10px;
	/* background: var(--lightGray); */
	padding: 1px 5px;
	border-radius: 5px;
	cursor: pointer;
}

.CommentsIcon {
	color: var(--black);
	margin-top: 15px;
	display: flex;
	gap: 10px;
	/* background: var(--lightGray); */
	padding: 1px 5px;
	border-radius: 5px;
	cursor: pointer;
}

.Credits {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 50px;
}

.Credits a {
	text-decoration: none;
	font-weight: bold;
}

.Comment {
	background: var(--hoverGray);
	color: var(--black);
	width: 100%;
	padding: 8px;
	margin-top: 20px;
	border-radius: 10px;

	/* box-shadow: 0 0 10px #00000020; */
}

.Comment--Header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	font-size: 14px;
	padding-right: 5px;
}

.Comment--Header > a > section img {
	object-fit: cover;
	width: 36px;
	height: 36px;
	border-radius: 18px;
}

.Comment--Header span {
	margin-left: 10px;
	color: var(--gray);
}

.Comment--TopLine {
	text-decoration: none;
	color: var(--black);
}

.Comment--OptionsButton {
	height: 20px;
	position: absolute;
	align-self: flex-end;
	background: none;
	border: none;
	cursor: pointer;
	transition: opacity 300ms ease;
}

.Comment--OptionsButton:hover {
	opacity: 0.7;
}

.Comment > p a {
	color: var(--darkGray);
	text-decoration: none;
	font-style: italic;
}

.Burger {
	width: 50px;
	height: 50px;
	/* background: var(--white); */
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 7px;
	padding: 10px;
	transition: left 500ms ease;
	z-index: 1000;
}

.Burger > div {
	width: 100%;
	height: 10%;
	background: var(--gray);
	transition: transform 500ms ease, width 200ms ease;
}

.ImageInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ImageInput + label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
	cursor: pointer;
	padding: 2px 5px;
	border-radius: 5px;
}

.ImagePreview--Wrapper {
	max-width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.ImagePreview {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	margin-block: 10px;
}

.ImagePreview > img {
	width: 100%;
	height: 100%;
}

.ImagePreview > button {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: fixed;
	background: var(--black);
	color: var(--white);
	align-self: flex-end;
	transform: translate(10px, -10px);
	font-weight: bold;
	line-height: 0;
	cursor: pointer;
}

.ImageGrid {
	width: 100%;
	min-height: 100px;
}

.ImageGrid img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px #0001;
	margin-block: 5px;
	cursor: pointer;
}

.ImageGridOne {
	width: 100%;
}

.ImageGridOne > img {
	width: 100%;
}

.ImageGridTwo {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.ImageGridTwo > img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.ImageGridThree {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
}

.ImageGridThree > img:nth-child(1) {
	grid-row: span 2;
}

.ImageGridThree > img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.ImageGridMore {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
}

.ImageGridMore > img:nth-child(1) {
	grid-row: span 2;
}

.ImageGridMore > img:nth-child(3) {
	filter: brightness(0.5);
}

.ImageGridMore > img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.ImageGridMore > p {
	justify-self: center;
	align-self: center;
}

@media only screen and (max-width: 600px) {
	.Article--Date {
		display: none;
	}
	
	.Article--DateMobile {
		display: inline;
	}
}