@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* THE STANDARD THEME IS WHITE */
:root {
	--black: #000;
	--white: #FFF;
	--gray: #888;
	--hoverGray: #DDD;
	--lightGray: #EEE;
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: var(--white);
}

.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.Navbar {
	height: 100vh;
	width: 250px;
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 40px 30px;
	position: sticky;
	top: 0;
}

.Navbar > img {
	width: 100%;
}

.Navbar > ul {
	height: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.Navbar a {
	font-size: 22px;
	color: var(--black);
	text-decoration: none;
	padding: 3px;
	border-radius: 5px;
	font-family: 'Londrina Solid', cursive;
}

.Navbar a:hover {
	color: var(--gray);
}

.Navbar--Logo {
	filter: drop-shadow(0 5px 10px #0003);
}

.Navbar--Bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.Navbar--Bottom > p {
	color: var(--gray);
	font-size: 12px;
	font-family: 'Londrina Solid', cursive;
}

.Wrapper {
	width: 100%;
	max-width: 750px; /* OPTIONAL */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
}

.UpperBar {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	background: var(--white);
	gap: 30px;
}

.UpperBar--Search {
	display: flex;
	gap: 5px;
}

.UpperBar--Search > input {
	width: 300px;
	height: 25px;
	border: 1px solid var(--gray);
	border-radius: 6px;
	padding-inline: 10px;
}

.UpperBar--Search > button {
	border: 1px solid var(--gray);
	border-radius: 6px;
	padding-inline: 10px;
	cursor: pointer;
	background: var(--lightGray);
	transition: background 300ms ease;
}

.UpperBar--Search > button:hover {
	background: var(--hoverGray);
}

.UpperBar--Buttons {
	display: flex;
	gap: 5px;
}

.UpperBar--Buttons > button {
	height: 30px;
	border: 1px solid var(--gray);
	border-radius: 6px;
	padding-inline: 10px;
	cursor: pointer;
	background: var(--lightGray);
	transition: background 300ms ease;
}

.UpperBar--Buttons > button:hover {
	background: var(--hoverGray);
}

.Mainboard {
	height: 100%;
	width: 100%;
	max-width: 750px;
	background: var(--white);
	color: var(--black);
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.Article {
	width: 90%;
	min-height: 10px;
	padding: 15px 5px;
}

.Article--Link {
	color: var(--black);
	text-decoration: none;
	font-weight: bold;
}

.Article--Date {
	margin-bottom: 10px;
	color: var(--gray);
	font-size: 14px;
}

.Article > article p {
	text-indent: 0px;
}

.Authentication {
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.Authentication > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.Profile {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.Profile--Header {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: flex-start;
	padding-left: 100px;
	align-items: center;
	gap: 10px;
}

.Profile--Header > img {
	width: 100px;
	border-radius: 50px;
}

.Profile--Posts {
	width: 100%;
	padding: 0 50px;
}

.BadUrl {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
}